.detailPage_WordBody_Container {
  width: 70%;
  height: 550px;
  position: relative;
  left: 222px;
  top: 150px;
}
.detailPage_imgBody_Container {
  width: 70%;
  height: 550px;
  position: relative;
  left: 222px;
  top: 150px;
}
.detailPage_imgBody_Hidden {
  display: none;
}

.detailPage_title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.detailPage_WordMeaning {
  position: relative;
  font-weight: bold;
  left: 5%;
  top: 7%;
  color: white;
}

.detailPage_WordExample {
  position: relative;
  font-weight: bold;
  left: 5%;
  top: 43%;
  color: white;
  margin: 0;
}

.detailPage_wordContent {
  line-height: 20px;
  color: white;
  height: 188px;
  width: 900px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  left: 12%;
}

.detailPage_bodyImg {
  display: block;
  margin: 30px auto;
  width: 600px;
  height: 350px;
}
.detailPage_imgContent {
  margin-bottom: 30px;
  color: white;
}

.detailPage_hashtag {
  background-color: #232332;
  color: white;
  border: 1px solid white;
  width: 100px;
  height: 30px;
  border-radius: 75px;
  text-align: center;
  padding-top: 5px;
  float: left;
  margin-right: 10px;
}

.detailPage_buttonParent {
  float: left;
  position: relative;
  left: 50%;
  top: 10%;
}

.detailPage_bottombtn {
  text-align: center;
  width: 70px;
  height: 40px;
  border-radius: 75px;
}

.detailPage_buttonimg {
  margin-bottom: -10px;
  width: 30px;
  height: 30px;
}

.detailPage_bookmarkimg {
  margin-bottom: -5px;
  width: 30px;
  height: 30px;
}

.detailPage_line {
  position: relative;
  top: 200px;
}
.detailPage_Bottom_Container {
  margin: 0;
  width: 90%;
  position: relative;
  top: 250px;
  left: 60px;
}

.detailPage_CommentTitle {
  color: white;
  position: relative;
  font-size: large;
  top: -15px;
  left: 50px;
}
.detailPage_Comment {
  position: relative;
  left: 150px;
  top: -45px;
  height: 30px;
  width: 800px;
  border-radius: 30px;
}

.detailPage_commentbtn {
  position: relative;
  left: 90px;
  bottom: 45px;
}
