*{
  font-family: "Noto Sans KR",
  sans-serif;
}
.loginPage__wrapper {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232332;
  min-width: fit-content;
  min-height: 100vh;
  margin:0 auto;
  padding:0 60px;
}
.loginPage__wrapper > .account__wrapper{
  padding-left: 60px;
}
.account__wrapper,
.data__input {
  display: flex;
  flex-direction: column;
  padding-top:24px;
}
.data__input:last-child{
    padding-bottom: 70px;
}
.data__input > strong {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 5px;
}
.data__input > strong > span {
  color: #ff0000;
  vertical-align: middle;
  padding-right: 3px;
}
.data__input > .data__id{
    display: flex;
    align-items: center;
    gap: 13px;
}
.data__input input{
    border: none;
    border-radius: 25px;
    width:609px;
    height:52px;
    text-indent: 20px;
    font-size: 20px;
}
.data__input input:focus{
    outline: none;
}
.data__input input::placeholder{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #BDBDBD;
}
.data__input>.data__id > button{
    color:#fff;
    width:93px;
    height:39px;
    border:none;
    border-radius: 20px;
    background-color: #828282;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
}
.signup__link{
  color:#bdbdbd;
  margin-bottom: 24px;
}