.mainpage_main_wrap {
  font-family: "Noto Sans KR", sans-serif;
  min-width: fit-content;
}

/* 맨위 첫번째 컨테이너 */
.first_cont {
  background-color: #232332;
  /* min-width: fit-content;
  width:100%; */
  height: 820px;
  padding: 0 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar {
  display: flex;
  width: 100%;
  height: 114px;
  border-radius: 30px;
  border: 3px solid transparent;
  align-items: center;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #ff0000 0%, #d422ff 50%, #2737ff 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.searchBar input {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
}
.searchBar input:focus {
  outline: none;
  background: none;
}
.searchBar input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1.2px;
}
.searchBar .searchIcon {
  padding-right: 32px;
  cursor: pointer;
}
.first_cont > .searchBar_hashTags {
  display: flex;
  text-align: end;
  justify-content: end;
  width: 100%;
  margin-top: 24px;
}
.first_cont > .searchBar_hashTags > .searchBar_hashTag {
  color: #fff;
  margin-right: 25px;
  cursor: pointer;
}

/* 두번째 word ranking 컨테이너 */
.second_cont,
.third_cont {
  display: flex;
  height: 512px;
  background: #2e335f;
  align-items: center;
  justify-content: space-around;
  padding-top: 41px;
}
.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftSide > .ranking {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid transparent;
  background-image: linear-gradient(
    to right,
    #ff0000 0%,
    #d422ff 50%,
    #2737ff 100%
  );
  background-origin: border-box;
  background-clip: border-box;
  display: flex;
  justify-content: center;
}
.leftSide > .ranking h3 {
  color: white;
  text-align: center;
  font-weight: 700;
}
.second_cont > .leftSide > .ranking h3 {
  font-size: 30px;
  transform: translateY(15px);
  text-shadow: 2px 2px 3px #000;
}
.second_cont_left_desc,
.third_cont_left_desc {
  margin-top: 42px;
  width: 380px;
  color: #bdbdbd;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 30px;
  text-align: center;
}
.second_cont > .rightSide > .word_ranking_lists {
  width: 510px;
  height: 341px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 65px;
}
.second_cont > .rightSide > .word_ranking_lists .word_ranking_list {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
  font-size: 30px;
  /* 한줄 말줄임 */
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}
.second_cont > .rightSide > button {
  display: flex;
  float: right;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  color: #828282;
}
.second_cont > .rightSide button::before {
  display: inline-block;
  content: url("../img/icon_update.svg");
}

/* 세번째 hot meme top 10 이미지 슬라이더 컨테이너 */
.third_cont {
  background-color: #232332;
}

.third_cont > .leftSide > .ranking h3 {
  font-size: 28px;
  position: absolute;
  transform: translateY(25px);
  text-shadow: 2px 2px 3px #000;
}
.third_cont > .rightSide > img {
  width: 514px;
}

/* 푸터 */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #2e335f;
  justify-content: center;
  align-items: center;
}
.footer > .footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}
.footer > .footer_logo > img {
  width: 50%;
}
.footer > .footer_email,
.footer_copyright {
  color: #fff;
  padding: 10px;
}
.footer > .footer_copyright {
  margin-bottom: 20px;
}
@media (max-width:900px){
  .second_cont{
    gap:100px;
  }
}