.mainpage_main_wrap {
  font-family: "Noto Sans KR", sans-serif;
}

/* 맨위 첫번째 컨테이너 */
.firstContainer {
  background-color: #232332;
  height: 820px;
  padding: 0 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar {
  display: flex;
  width: 100%;
  height: 114px;
  border-radius: 30px;
  border: 3px solid transparent;
  align-items: center;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #ff0000 0%, #d422ff 50%, #2737ff 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.searchBar input {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
}
.searchBar input:focus {
  outline: none;
  background: none;
}
.searchBar input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1.2px;
}
.searchBar .searchIcon {
  padding-right: 32px;
  cursor: pointer;
}
.firstContainer ul {
  display: flex;
  text-align: end;
  justify-content: end;
  width: 100%;
  margin-top: 24px;
}
.firstContainer li {
  color: #fff;
  margin-right: 25px;
  cursor: pointer;
}

/* 두번째 word ranking 컨테이너 */
.secondContainer,
.thirdContainer {
  display: flex;
  height: 512px;
  background: #2e335f;
  align-items: center;
  justify-content: space-around;
  padding-top: 41px;
}
.secondContainer .leftSide,
.thirdContainer .leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondContainer .leftSide .ranking,
.thirdContainer .leftSide .ranking {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid transparent;
  background-image: linear-gradient(
    to right,
    #ff0000 0%,
    #d422ff 50%,
    #2737ff 100%
  );
  background-origin: border-box;
  background-clip: border-box;
  display: flex;
  justify-content: center;
}
.secondContainer .leftSide .ranking h3,
.thirdContainer .leftSide .ranking h3 {
  color: white;
  text-align: center;
  font-weight: 700;
}
.secondContainer > .leftSide > .ranking h3 {
  font-size: 30px;
  transform: translateY(15px);
  text-shadow: 2px 2px 3px #000;
}
.leftSide p {
  margin-top: 42px;
  width: 370px;
  color: #bdbdbd;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 30px;
  text-align: center;
}
.rightSide ul {
  width: 510px;
  height: 341px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 65px;
}
.rightSide li {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
  font-size: 30px;
  /* 한줄 말줄임 */
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}
.rightSide button {
  display: flex;
  float: right;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  color: #828282;
}
.rightSide button::before {
  display: inline-block;
  content: url("../img/icon_update.svg");
}

/* 세번째 hot meme top 10 이미지 슬라이더 컨테이너 */
.thirdContainer {
  background-color: #232332;
}
.thirdContainer > .leftSide > .ranking h3 {
  font-size: 28px;
  position: absolute;
  transform: translateY(25px);
  text-shadow: 2px 2px 3px #000;
}
.thirdContainer .rightSide img {
  width: 540px;
}

/* 푸터 */
footer {
  display: flex;
  flex-direction: column;
  background-color: #2e335f;
  justify-content: center;
  align-items: center;
}
footer > a {
  display: inline-block;
  width: 153px;
  height: 73px;
  font-size: 1px;
  text-indent: -9999px;
  overflow: hidden;
  margin-top:40px;
  background: url("../img/logo.svg");
}
footer > p {
  color: #fff;
  padding: 10px;
}
footer > p:last-child {
  margin-bottom: 20px;
}
