.MyPage_Word_Btn {
  font-size: large;
  padding-right: 10px;
  border: 0;
  outline: 0;
  border-right: 2px white solid;
  background-color: #232332;
  color: white;
  font-weight: bold;
}
.MyPage_Word_Btn_Unclick {
  font-size: large;
  padding-right: 10px;
  border: 0;
  outline: 0;
  border-right: 2px white solid;
  background-color: #232332;
  color: gray;
  font-weight: bold;
}

.MyPage_Img_Btn {
  border: 0;
  outline: 0;
  font-size: large;
  background-color: #232332;
  color: white;
}

.MyPage_Img_Btn_Unclick {
  border: 0;
  outline: 0;
  font-size: large;
  background-color: #232332;
  color: gray;
}

.MyPage_Img_Container {
  position: relative;
  left: 150px;
  top: 150px;
  height: 500px;
  width: 1200px;
}

.MyPage_Hidden {
  display: none;
}

.MyPage_Word_Container {
  position: relative;
  left: 150px;
  top: 150px;
  height: 500px;
  width: 1200px;
}
