.searchResult__wrapper {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #232332;
  color: #fff;
  min-width: 100vw;
  min-height: 100vh;
}
.searchResult__wrapper > .searchResult__nav {
  display: flex;
  margin: 151px 0 57px 51px;
  color: #696868;
}

.searchResult__nav > .nav__list {
  font-size: 24px;
  font-weight: 700;
  list-style: none;
  cursor: pointer;
}

.on {
  color: #fff;
}

.searchResult__nav > .nav__list:first-child::after {
  display: inline-block;
  content: "";
  width: 2px;
  height: 20px;
  background-color: #696868;
  vertical-align: middle;
  margin: 0 7px;
}

.searchResult__wrapper > .result__container {
  display: flex;
  flex-direction: column;
  margin-left: 51px;
}
.result__container > .result__lists > .result__list {
  width: 95%;
  margin-bottom: 24px;
  padding-bottom: 11px;
  border-bottom: 1px solid #696868;
  cursor: pointer;
}
